*{
  box-sizing: border-box;
}

.Form {
padding-top: 25px;
}

.Loading {
width: 150px;
margin: 0 auto;
}

.SpinnerImg {
height: 86px;
}

#getWeatherForm {
width:65%;
margin: auto;
margin-bottom: 37px;
}

.input-with-button {
float: left;
}

.city-input {
width: 70%;
}

